{% extends 'base.html' %}

{% block content %}
    <div class="list-group" style="border:2px solid pink;">
        {% for message in messages %}

            <div style="border:2px solid pink;"><a class="list-group-item list-group-item-action flex-column">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1 text-success">{{ message.name }}
                        <small class="text-muted"> #{{ loop.revindex }}</small>
                    </h5>
                    <small data-toggle="tooltip" data-placement="top"
                           data-delay="500">
                    </small>
                </div>
                <p class="mb-1">{{ message.body }}</p>
                <p class="mb-1">{{ message.username }}</p>
                <p class="mb-1">{{ message.time }}</p>
            </a></div>
        {% endfor %}
    </div>
{% endblock %}
